.ChatStructure {
    background-color: #fff;
    border-radius: 3px;
    /* margin-bottom: 15px; */
    border-radius: 5px;
    position: absolute;
    width: em;
    /* margin-bottom: 3.5rem; */
    height: 33em;
    width: 50em;
    /* margin-bottom: 20rem; */
    /* margin: 2rem;
}