$icomoon-font-family: "maletto_icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-proximo: "\e90a";
$icon-facebook: "\e90b";
$icon-flecha-izquierda: "\e907";
$icon-flecha-correcta: "\e908";
$icon-atras: "\e909";
$icon-suitcase: "\e900";
$icon-logo_maletto: "\e901";
$icon-home: "\e903";
$icon-home2: "\e902";
$icon-home3: "\e904";
$icon-office: "\e905";
$icon-pencil: "\e906";
$icon-image: "\e90d";
$icon-images: "\e90e";
$icon-camera: "\e90f";
$icon-folder-open: "\e930";
$icon-phone: "\e942";
$icon-phone-hang-up: "\e943";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-compass2: "\e94a";
$icon-clock: "\e94e";
$icon-clock2: "\e94f";
$icon-calendar: "\e953";
$icon-bubbles2: "\e96d";
$icon-bubbles4: "\e970";
$icon-user: "\e971";
$icon-user-plus: "\e973";
$icon-user-minus: "\e974";
$icon-search: "\e986";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-cog: "\e994";
$icon-trophy: "\e99e";
$icon-bin: "\e9ac";
$icon-bin2: "\e9ad";
$icon-briefcase: "\e9ae";
$icon-sphere: "\e9c9";
$icon-earth: "\e9ca";
$icon-eye: "\e9ce";
$icon-eye-blocked: "\e9d1";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-info: "\ea0c";
$icon-blocked: "\ea0e";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-arrow-up-left2: "\ea39";
$icon-arrow-up2: "\ea3a";
$icon-arrow-up-right2: "\ea3b";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down-right2: "\ea3d";
$icon-arrow-down2: "\ea3e";
$icon-arrow-down-left2: "\ea3f";
$icon-arrow-left2: "\ea40";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";

