$midnight: #2c3e50;
$clouds: #f8fbfc;
$white: #ffffff;
$verdecito: #d4f8e8;
$verde: #1eb2a6;

// General

.row input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.row hr {
  border: none;
  margin: 2px;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
  max-width: 1160px;
}
.tab {
  color: $midnight;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $white;
    font-weight: bold;
    font-size: 1.6vmax;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($verdecito, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

.tab a {
  text-decoration: none;
  color: inherit;
}

.row h2 {
  font-size: 3vmax;
}

.tab-content {
  font-size: 1.6vmax;
}
// :checked
.row input:checked {
  + .tab-label {
    background: darken($verdecito, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}

.card-info {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 20px auto;
  padding: 0px 20px;
  max-width: 626px;
}
.card-info img {
  border-radius: 50%;
  height: 16vmin;
}
.card-text {
  margin-left: 20px;
}
.card-text p {
  line-height: 2;
  font-size: 1.6vmax;
}

.card-text h3 {
  font-size: 2.1vmax;
  margin-top: 0px;
}

.hrname hr {
  background-color: #d4d7da;
  border: 0;
  height: 2px;
  width: 30%;
}

.row-width {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  margin: 20px auto;
  margin-bottom: 1px;
  padding: 20px;
  max-width: 626px;
  // margin-left: 0px;
  // padding-left: 0px;
}

.row-width h2 {
  font-size: 3vmax;
  margin: 0px;
  padding: 0px;
}
.banda-reserva {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 20px 29px 26px 15px rgba(0, 18, 22, 0.205);
  height: 6vh;
  background-color: white;

  .banda-reserva {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    justify-content: space-between;
  }
}
.reserva0 {
  font-size: 3.3vmin;
}

.reservaBtn {
  color: rgb(255, 255, 255);
  border: none;
  font-size: 2.2vmax;
  background-color: #1eb2a6;
  border-radius: 5px;
  outline: none;
  width: 21vmax;
  height: 4vmax;

  &:active {
    // background-color: #f67575;
    background: darken($verde, 15%);
  }
}
