
.slide{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.card{
  width: 85vmin;
  height: 45vmin;
  display: flex;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.3);
  background-color: #fff;
  border-radius: 11px;
}

.card__img{
  background-position: center;
  width: 70%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}


.card__content{
  padding: 2% 5%;
  box-sizing: border-box;
  width: 50%;
}

.card__content-theme{
  font-weight: 900;
  font-size: 1.7vmin; 
}

.card__content-header{
  font-weight: 900;
  font-size: 20px;
  font-size: 3.4vmin;
  text-transform: capitalize;
  letter-spacing: 0.01em;
  line-height: 1.1;
  margin: 1vmin 0 3vmin;  
}

.card__content-paragraph{
  font-size: 2.3vmin;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 2.5vmin;
}

.card__content-paragraph p{
  margin: 0;
}


.icon-star-full {
  color: orange;
}

.icon-star-empty {
  color:rgb(151, 151, 151);
}

.profile_img {
    max-width: 60%;
    border-radius: 12%;
    display: flex;
}
.card_stars {
  margin-top: 5px;
  font-size: 4vmin;
  line-height: 1.7;
 
}

.card-a a {
    text-decoration: none;
    color: #2c3e50;
}

.height-div {
  margin: 20px;
}

.mapboxgl-ctrl-geocoder {
    font-size: 38;
    line-height: 24px;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 92%;
    min-width: 220px;
    z-index: 1;
    border-radius: 4px;
    transition: width .25s, min-width .25s;
}