.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 20px auto;
  max-width: 650px;
  box-sizing: border-box;
  justify-content: center;

  .container-noNavbar {
    flex-direction: column;
  }

  .icono-user-booking {
    color: #2c3e50;
    text-decoration: none;
  }

  .image-title {
    justify-content: space-between;

    width: 100%;
  }

  .image-location {
    border-radius: 0.9rem;

    width: 80%;
    margin-right: 30vw;
    max-width: 60vw;
    height: auto;

  }

  .div-image-title {

    justify-content: space-between;
  }

}