.p-login-register {
  width: 188.5pt;
  margin: 0 auto;
  margin-top: 3rem;

  &__form {
    width: 188.5pt;
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-size: 8pt;
    font-family: Montserrat;
    font-weight: bold;
    color: rgb(71, 71, 71);
  }

  &__input {
    width: 176.5pt;
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgb(167, 167, 167);
    font-size: 8pt;
    font-family: Montserrat;
    margin-bottom: 6pt;
  }

  &__label-check {
    font-size: 6pt;
    font-family: Montserrat;
    line-height: 8pt;
    letter-spacing: -0.05pt;
    color: black;
  }

  &__btn {
    width: 84pt;
    height: 25pt;
    border: none;
    border-radius: 4px;
    opacity: 0.85;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 9pt;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
  }

  &__submit{
      margin: 0 auto;
      margin-bottom: 26pt;
      border-radius: 3pt !important;
  }
  
}
.fb:hover{
    opacity: 1;
    color:white;
  }
.p-login-register-social {
    width: 176.5pt;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 0.5rem;
}

.fb {
  background-color: #3b5998;
  color: white;
  border: 1pt solid #3b5998;
}

.google {
  background-color: white;
  color: black;
  border: 1pt solid rgb(109, 109, 109);
}
.google:hover{
    opacity: 1;
    color:black;
    background-color: azure;
  }

.google-icon{
  width: 15pt;
}

.p-login-register-ads{
    width: 100%;
    height: 16pt;
    display: flex;
    margin-bottom: 19.5pt;
}

.p-tabview-panels{
    width: 100% !important;
    padding: 0px !important;
    border: 0px !important;
}
.p-tabview.p-tabview-top, .p-tabview-nav li a, .p-tabview-nav, li.p-highlight a, li.p-highlight a:hover{
    background-color: white !important;
    border: 0px !important; 
    color: black !important;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding:1rem;
    padding-left: 1.5rem;

}


.p-tabview-nav li a[aria-selected="true"]{
    border: 0px !important;
    border-bottom: 1.5pt solid #1eb2a6 !important;
  }

 

.error{
    color: red;
    font-size: 8pt;
    margin-bottom: 6pt;
    margin:1pt;
    font-family: Montserrat;
}

.p-returnback-login{
 
  &__iconback {
    font-size: 25pt;
    height: 20px;
    width: 80px;
    color: black;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1;
  }
}
