.c-allexp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // margin: 1rem;

    .experience {
        width: 100%;
        // margin: 1rem;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-content: center;

        .photo {
            min-width: 100%;
            height: 20rem;
            object-fit: cover;
            object-position: center center;
        }
    }

    figcaption {
        width: 100%;
        display: wrap;
        justify-content: center;
        text-align: center;
        font-size: 3vw;

        .title {
            font-family: Montserrat;
            font-size: 10pt;
            font-weight: bold;
            margin-top: 2.5pt;
            margin-bottom: 2.5pt;
        }

        .text {
            font-family: Montserrat;
            font-size: 7pt;
            margin-top: 2.5pt;
            margin-bottom: 7pt;
            display: flex;

        }
    }
}