.c-allexp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .experience {
        width: 100%;
        // display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0;
        margin-top: 22px;

        .photo {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center center;

        }

        .squaredContainer {
            display: wrap;
            justify-content: center;
            text-align: center;

            .title {
                font-family: Montserrat;
                font-size: 2vmax;
                font-weight: bold;
                margin-top: 7.5pt;
                // margin-bottom: 20px;
            }

            .text {
                font-family: Montserrat;
                font-size: 1.6vmax;
                margin-top: 2.5pt;
                margin-bottom: 7pt;
                display: flex;
                justify-content: center;

            }
        }


    }



}