.c-allexp {
    display: flex;
    justify-content: center;
    flex-direction: column;



    .c-experience {
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-content: center;

        .img {
            min-width: 95vw;
            max-height: 10%;
            height: 13rem;
            object-fit: cover;
            object-position: center center;
        }
    }

    .c-experience-caption {
        width: 90%;
        display: inline;
        justify-content: center;
        text-align: center;

        &__title {
            font-family: Montserrat;
            font-size: 10pt;
            font-weight: bold;
            margin-top: 2.5pt;
            margin-bottom: 2.5pt;
        }

        &__text {
            font-family: Montserrat;
            font-size: 7pt;
            margin-top: 2.5pt;
            margin-bottom: 7pt;
        }
    }
}