.user-edit-guardian,
.user-edit {
  color: #1eb2a6;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 10px auto;
  max-width: 650px;
  box-sizing: border-box;
  justify-content: center;
}

.small-text {
  color: gray;
  font-weight: lighter;
}

.image {
  border-radius: 0.9rem;
  height: 100px;
  width: auto;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
}

.UserIcon {
  text-decoration: none;
  float: right;
  margin-top: 0.5em;
  color: #1eb2a6;
}

.reserve {
  display: flex;
  justify-content: space-between;

  .proxUser {
    text-decoration: none;
    outline: none;
    text-align: right;
    margin-top: 1.5em;
    color: black;
  }
}

.btnLogOut {
  margin-bottom: 3em;

  .logOut {
    background-color: #f8fbfc;
    border: none;
    color: #1eb2a6;
    font-size: 15px;
    margin-right: -0.3rem;
    float: right;
  }
}


// BOTÓN CHECKBOX GUARDIÁN //

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}



/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


//Cambiar de Status

.btnGuardian {

  input:checked+.slider {
    background-color: #1eb2a6;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #1eb2a6;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}

.btnEnviarGuardian {
  background-color: #1eb2a6;
  border: none;
  color: white;
  border-radius: 3pt;
  font-family: Montserrat;
  display: flex;
  width: 60px;
  height: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;

}


