.user-edit-guardian {
  color: #1eb2a6;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 10px auto;
  max-width: 650px;
  box-sizing: border-box;
  justify-content: center;
}

.small-text {
  color: gray;
  font-weight: lighter;
}

.image {
  border-radius: 0.9rem;
  height: 100px;
  width: auto;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
}

.icono-user-page {
  color: #2c3e50;
  text-decoration: none;
  float: right;
}

.user-edit {
  color: #1eb2a6;
}

.icon-exit-log {
  background-color: #f8fbfc;
  border: none;
  height: 1rem;
}