.c-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1eb2a6;
    background: linear-gradient(
      0deg,
      #1eb2a6,
      #d4f8e8 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  
    &__maleta {
      color: white;
      font-size: 150px;
      margin: 20px;
    }
  
    &__texto-maleteo {
      color: white;
      margin: 20px;
      font-size: 40px;
      letter-spacing: 16px;
    }
  }