.link {
    padding: 0;

    .linkItem {
        text-align: center;
        font-size: 0.5vh;
        list-style: none;
        color: #2c3e50;
    }

    .linkUrl {
        text-decoration: none;
        margin: 6px;
        font-size: 1.5vh;
        display: block;

        background-color: #f8f8f8;
        padding: 8px;
        border-radius: 6px;
        box-shadow: 2px 2px 4px rgba(83, 83, 83, 0.4);
        text-align: center;
    }
}