.optionsContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.optionBtn {
    font-size: 1.8vh;
    padding: 0.5rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid #f67575;
    margin: 3px;

    &:hover {
        background-color: #f67575;
        color: white;
        outline: none;
    }
}