@import "../src/assets/fonts/maletto_icons-v1.0/variables.scss";
@import "../src/assets/fonts/maletto_icons-v1.0/style.scss";
//variables--

//General Style

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  background-color: white;
}