.StructureHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    max-width: 50%;



    .HomeFormData {}

    i {
        color: #1eb2a6;
    }

    .structure_application {
        margin-bottom: 2rem;
    }

    .suitcase {
        width: 5em;

        .menu {
            text-decoration: none;
        }
    }

    .Search {
        background-color: #1eb2a6;

    }

    select,
    input {
        background: transparent;
        border: none;
        margin: 1rem;

        color &:hover {
            color: #1eb2a6;
        }

        &:focus {
            outline: 0;
        }

    }

    .HomeSuitcase {}








}