$verde: #1eb2a6;

.StructureHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 8rem;
    padding: 10px;

    //Style Form
    .structure_application {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        select,
        input {
            display: inline-block;
            justify-content: center;
            background: transparent;
            background-color: rgba(240, 239, 239, 0.5);
            color: rgba(29, 28, 28, 0.5);
            border: none;
            margin: 1rem;
            width: 12rem;
            border-radius: 5px;
            -webkit-appearance: none;

            // opacity: 0;
            &:hover {
                color: #1eb2a6;
            }

            &:focus {
                outline: 0;
            }
        }

        .input-calendar[type="datetime-local"]::-webkit-calendar-picker-indicator {
            background: none;
            background-image: url("../../assets/icons/dropdown.png");
            background-size: 10px;
            background-position: calc(50% - 5px);
            background-repeat: no-repeat;
            outline: none;
            cursor: pointer;
        }

        @media screen {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        //Style Search
        .homeSeach {
            width: 90%;
            height: 2rem;
            border: 0.5pt solid rgb(200, 200, 200);
            padding: 5pt;
            background-color: rgba(250, 250, 250, 0.5);
            border-radius: 2pt;
            // padding-right: 1rem;
        }

        //Style Icon
        i {
            color: #1eb2a6;
        }


        .homeBtn {
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                color: rgb(250, 250, 250);
                border: none;
                background-color: #1eb2a6;
                border-radius: 5px;
                outline: none;
                size: 20rem;
                width: 5rem;
                height: 2rem;

                &:active {
                    // background-color: #f67575;
                    background: darken($verde, 15%);
                }
            }

        }

    }

    .homeExtras {
        width: 100%;

        .photoText {
            position: relative;

            .text {
                position: absolute;
                z-index: 1;
                display: table;
                width: 100%;
                height: 100%;

                p {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                }
            }

        }


        .btnExtras {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .morehome {
                border: none;
                margin-top: 2rem;
                outline: none;
                width: 15rem;
                height: 3rem;
                background-color: #1eb2a6;
                color: white;
                text-align: center;
                border-radius: 3pt;
                border-color: #1eb2a6;
                text-decoration: none;
                font-weight: bold;
                cursor: pointer;

                &:active {
                    // background-color: #f67575;
                    background: darken($verde, 15%);
                }
            }

        }

    }



}